<br/>
<br/>
<div class="container">
    <br/>
    <img src="images/faleconosco1.jpg" alt="Fale conosco"/>
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão, fale conosco.
        </p>
        <p>
            <span class="bi-envelope"></span>
            <email endereco="breno.ga.duque@gmail.com" conteudo="Enviar um e-mail"></email>
            <br/>
            <span class="bi-phone"></span>
            (24)98160-7927
            <br/>
            <span class="bi-geo-alt"></span>
            Rua João Batista de Assis 110 - 27275-390 - Volta Redonda - Rio de Janeiro
        </p>
    </div>
</div>